<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".glsl" mimeType="text/plain" />
        </staticContent>
        <caching>
            <profiles>
                <add extension=".jpg" policy="DisableCache" kernelCachePolicy="DisableCache" />
                <add extension=".html" policy="DisableCache" kernelCachePolicy="DisableCache" />
                <add extension=".js" policy="DisableCache" kernelCachePolicy="DisableCache" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>
